<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài tập typescript đặt vé xe</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="display-4">Bài tập đặt vé xe buýt</div>
                <div id="DanhSachGhe"></div>
            </div>
            <div class="col-md-6">
                <div class="display-4" id="TieuDeDSGDaDat"></div>
                <div id="ThongTinDatVe"></div>
            </div>
        </div>
    </div>
</body>
<script src="../bundle.js"></script>
</html>